= turbo_stream.append 'toast-area', partial: 'datasets/toast', locals: {toast: @toast}
= turbo_stream.append 'js-response' do
  :javascript
    var table = $('#main-table').DataTable();
    var row = table.row('##{@user.id}');
    if (row.any()) {
      row.remove().draw(false);
    }
