table.graders tr {
  &.active {
    border: 1px solid var(--bs-success);
    background: var(--color-success-bg);
    text-align: center;
  }

  &.inactive {
    border: 1px solid var(--bs-danger);
    background: var(--color-danger-light-bg);
    text-align: center;
  }
}

.submitbox .item {
  padding-right: 5px;
  float: left;
}
